<form id="view_override_form" class="form-stacked">
  <fieldset>
    <div class="row clearfix">
      <div class="span4">
        <label>Name:</label>
        <div class="input">
          <input type="text" size="30" name="name" value="<%= view_override.name %>">
        </div>
      </div>

      <div class="span4">
        <label>Action:</label>
        <div class="input">
          <select name="target" id="view_override_target">
            <% _.each(['remove', 'replace', 'replace_contents', 'surround', 'surround_contents', 'insert_after', 'insert_before', 'insert_top', 'insert_bottom', 'set_attributes'], function(_target) { %>
              <option <%= _target==view_override.target ? 'selected' : '' %>><%= _target %></option>
            <% }); %>
          </select>
        </div>
      </div>

      <div class="span4">
        <label>Virtual Path:</label>
        <div class="input">
          <select name="virtual_path">
            <% _.each(window.frames[0].all_templates, function(template) { %>
              <option <%= template==view_override.virtual_path ? 'selected' : '' %>><%= template %></option>
            <% }); %>
          </select>
        </div>
      </div>

      <div class="pull-right edit_actions">
        <a rel="advanced" class="btn info" href="#">Advanced</a>
      </div>
    </div>

    <div class="row clearfix advanced">
      <div class="span4">
        <label>Replace With:</label>
        <div class="input">
          <select name="replace_with">
            <% _.each(['text', 'partial', 'template'], function(_replace_with) { %>
              <option <%= _replace_with==view_override.replace_with ? 'selected' : '' %>><%= _replace_with %></option>
            <% }); %>
          </select>
        </div>
      </div>

      <div class="span4">
        <label>Sequence:</label>
        <div class="input">
          <select name="sequence" style="width:80px;">
            <option <%= "before"==view_override.sequence ? 'selected' : '' %>>before</option>
            <option <%= "after"==view_override.sequence ? 'selected' : '' %>>after</option>
          </select>
          <select name="sequence_target" style="width:120px;">
            <option <%= ""==view_override.sequence_target ? 'selected' : '' %>> </option>
            <% if(Spraycan.view_overrides!=undefined){ %>
              <% _.each(Spraycan.view_overrides.models, function(override) { %>
                <% if(override.attributes.name!=name){ %>
                  <option <%= override.attributes.name==view_override.sequence_target ? 'selected' : '' %>><%= override.attributes.name %></option>
                <% } %>
              <% }); %>
            <% } %>
          </select>
        </div>
      </div>

      <div class="span4">
        <label>Selector:</label>
        <div class="input">
          <input type="text" size="30" name="selector" value="<%= view_override.selector %>">
        </div>
      </div>

      <div class="span4" id="closing_selector_wrapper">
        <label>End Selector:</label>
        <div class="input">
          <input type="text" size="30" name="closing_selector" value="<%= view_override.closing_selector %>">
        </div>
      </div>
    </div>

    <div style="display: <%= view_override.target!='remove' ? 'block' : 'none' %>;" id="replace_withs">
      <div class="replacement" id="replace_with_text">
        <div class="fields">
          <label>Text:</label>
        </div>
        <pre id="view_override_replace_text" class="small_editor"><p>I am a p.</p></pre>
      </div>

      <div class="replacement" id="replace_with_partial">
        <label>Partial:</label>
        <input type="text" class="field span8" id="replace_parital" name="replacement"disabled>
      </div>

      <div class="replacement" id="replace_with_template">
        <label>Template:</label>
        <input type="text" class="field span8" id="replace_template" name="replacement" disabled>
      </div>

      <div class="replacement" id="replace_with_set_attributes">
        <label>Attributes:</label>
        <textarea class="field span16" id="replace_set_attibutes" name="replacement" disabled></textarea>
      </div>
    </div>

    <ul class="clearfix inputs-list">
      <li>
        <label>
          <input type="checkbox" value="true" name="disabled" <%= view_override.disabled ? 'checked="checked"' : '' %>>
          <span><strong>Disabled</strong> - prevents override from being applied.</span>
        </label>
      </li>
    </ul><br>

    <div class="actions clearfix">
      <div class="pull-right">
        <button rel="save" class="btn primary">Save Changes</button>
        <a rel="delete" href="/spraycan#view_override?delete=<%= cid %>&confirm=<%= view_override.id==undefined ? 'true' : 'false' %>" class="btn danger" >
          <%= view_override.id==undefined ? 'Discard' : 'Delete' %>
        </a>
        <a href="/spraycan#view_override?all" class="btn">Close</a>
      </div>
    </div>
  </fieldset>
</form>
