<!DOCTYPE html>
<html>
  <head>
    <title>Tweaker</title>
    <%= javascript_include_tag 'spraycan/tweaker' %>
    <%= stylesheet_link_tag 'spraycan/tweaker' %>
    <script type="text/javascript">
      Spraycan.theme_id = <%= Spraycan::Config.preferred_base_theme_id %>;
      Spraycan.preload.themes = <%== render(:file => 'spraycan/themes/index.json.rabl') %>;
      Spraycan.preload.palettes = <%== render(:file => 'spraycan/palettes/index.json.rabl') %>;
      Spraycan.preferences.logo_file_name = '<%= Spraycan::Config[:logo_file_name] %>';
      Spraycan.preferences.background_file_name = '<%= Spraycan::Config[:background_file_name] %>';
      Spraycan.preferences.title_font = '<%= Spraycan::Config.preferred_title_font || 'Irish Growler' %>';
      Spraycan.preferences.title_font_size = '<%= Spraycan::Config.preferred_title_font_size || 35 %>';
      Spraycan.preferences.body_font = '<%= Spraycan::Config.preferred_body_font || 'Rock Salt' %>';
      Spraycan.preferences.body_font_size = '<%= Spraycan::Config.preferred_body_font_size || 15 %>';

    </script>
  </head>
  <body>

    <div id="tweaker" class="tweaker">
      <div class="drag_bar">&nbsp;</div>
      <div class="main">
        <ul class="top">
          <li>
            <a class="menu" href="#design">Design</a>
            <div id="design-container"></div>
          </li>
          <li>
            <a class="menu" href="#palette?all">Colors</a>
            <div id="colors-container"></div>
          </li>
          <li>
            <a class="menu" href="#fonts">Fonts</a>
            <div id="fonts-container"></div>
          </li>
          <li>
            <a class="menu" href="#images">Images</a>
            <div id="images-container"></div>
          </li>
        </ul>
      </div>
    </div>

    <div id="dialogs"></div>

    <iframe src="/"></iframe>
  </body>
</html>
