<form id="palette_form" class="container" action="#">
  <h3>Edit Palette</h3>
  <div class="picker_row">
    <div class="picker_container">
      <h5>Name</h5>
      <input name="name" value="<%= palette.name %>" >
    </div>
  </div>

  <div class="picker_row">
    <h4>Background</h4>

    <div class="picker_container">
      <h5>Layout</h5>
      <div class="picker">
        <div class="sample" style="background-color:<%= palette.preferred_layout_background_color || '#ffffff' %>;"></div>
        <input type="hidden" name="preferred_layout_background_color" value="<%= palette.preferred_layout_background_color || '#ffffff' %>">
      </div>
    </div>

    <div class="picker_container">
      <h5>Product</h5>
      <div class="picker">
        <div class="sample" style="background-color:<%= palette.preferred_product_background_color || '#ffffff'  %>;"></div>
        <input type="hidden" name="preferred_product_background_color" value="<%= palette.preferred_product_background_color || '#ffffff' %>">
      </div>
    </div>

  </div>


  <div class="picker_row">
    <h4>Text</h4>
    <div class="picker_container">
      <h5>Title</h5>
      <div class="picker">
        <div class="sample" style="background-color:<%= palette.preferred_title_text_color || '#000000' %>;"></div>
        <input type="hidden" name="preferred_title_text_color" value="<%= palette.preferred_title_text_color || '#000000' %>">
      </div>
    </div>

    <div class="picker_container">
      <h5>Body</h5>
      <div class="picker">
        <div class="sample" style="background-color:<%= palette.preferred_body_text_color || '#000000' %>;"></div>
        <input type="hidden" name="preferred_body_text_color" value="<%= palette.preferred_body_text_color || '#000000' %>">
      </div>
    </div>

    <div class="picker_container">
      <h5>Link</h5>
      <div class="picker">
        <div class="sample" style="background-color:<%= palette.preferred_link_text_color || '#000000' %>;"></div>
        <input type="hidden" name="preferred_link_text_color" value="<%= palette.preferred_link_text_color || '#000000' %>">
      </div>
    </div>

  </div>

  <div class="picker_row">
    <h4>Product</h4>
    <div class="picker_container">
      <h5>Title</h5>
      <div class="picker">
        <div class="sample" style="background-color:<%= palette.preferred_product_title_text_color || '#000000' %>;"></div>
        <input type="hidden" name="preferred_product_title_text_color" value="<%= palette.preferred_product_title_text_color || '#000000' %>">
      </div>
    </div>

    <div class="picker_container">
      <h5>Body</h5>
      <div class="picker">
        <div class="sample" style="background-color:<%= palette.preferred_product_body_text_color || '#000000' %>;"></div>
        <input type="hidden" name="preferred_product_body_text_color" value="<%= palette.preferred_product_body_text_color || '#000000' %>">
      </div>
    </div>

    <div class="picker_container">
      <h5>Link</h5>
      <div class="picker">
        <div class="sample" style="background-color:<%= palette.preferred_product_link_text_color || '#000000' %>;"></div>
        <input type="hidden" name="preferred_product_link_text_color" value="<%= palette.preferred_product_link_text_color || '#000000' %>">
      </div>
    </div>

  </div>

  <div class="picker_row">
    <button id="save">Save</button>
    <a rel="delete" href="/spraycan#palette?delete=<%= cid %>&confirm=<%= palette.id==undefined ? 'true' : 'false' %>" >
      <%= palette.id==undefined ? 'Discard' : 'Delete' %>
    </a>
  </div>
</form>
