<ul class="buttons small toggle">
  <li class="first <%= (Deface.editor.maximised || Deface.editor.visible) ? '' : 'disabled' %>" id="min">
    <a rel="min" href="#">_</a>
  </li>
  <li class="<%= Deface.editor.maximised ? '' : 'disabled' %>" id="restore">
    <a rel="restore" href="#">-</a>
  </li>
  <li class="last <%= (!Deface.editor.maximised && Deface.editor.visible) ? '' : 'disabled' %>" id="max">
    <a rel="max" href="#">&oline;</a>
  </li>
</ul>

<ul class="buttons small toggle">
  <li class="first"><a rel="zoom-in" href="#">+</a></li>
  <li class="big"><a rel="toggle" href="#">Toggle</a></li>
  <li class="last"><a rel="zoom-out" href="#">-</a></li>
</ul>

<ul class="buttons toggle">
  <li class="first"><a rel="navigate" href="#">Go</a></li>
  <li class="last"><a rel="refresh" href="#">Refresh</a></li>
</ul>

<div id="loadables">
</div>

<ul id="current" class="buttons toggle">
  <li id='html' class="first <%= Deface.current == 'html' ? 'active' : '' %>"><a rel="html" href="/deface#html">HTML</a></li>
  <li id='css' class="<%= Deface.current == 'css' ? 'active' : '' %>"><a rel="css" href="/deface#stylesheet/application">CSS</a></li>
  <li id='files' class="last <%= Deface.current == 'files' ? 'active' : '' %>"><a rel="files" href="/deface#files">Files</a></li>
</ul>

<a href="/deface#themes" id="theme_name"><%= Deface.theme_name %></a>
