<h3>
  <a href="#">Spraycan</a>
</h3>
<ul class="nav">
  <li id="theme" class="dropdown<%= Spraycan.current == 'themes' ? ' active' : '' %>">
    <a rel="theme" href="/spraycan#theme?all">Themes</a>
  </li>
  <li id="html" class="dropdown<%= Spraycan.current == 'view_overrides' ? ' active' : '' %>" data-dropdown="dropdown">
    <a rel="html" href="#" class="dropdown-toggle">HTML</a>
    <ul class="dropdown-menu">
      <li>
        <a href="/spraycan#view_override?new=new_override">New View Override</a>
      </li>
      <li>
        <a href="/spraycan#view_override?all">Load View Overrides</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/spraycan#inspect">Show Inspector</a>
      </li>
      <% if(_.size(Spraycan.current_collections.view_overrides) > 0){ %>
        <li class="divider"></li>
      <% } %>
      <% _.each(Spraycan.current_collections.view_overrides.reverse(), function(model) { %> 
        <li>
          <a href="/spraycan#view_override/<%= model.cid %>">
            <%= model.get('name') %><% if(model.id==undefined){ %> *<% } %>
          </a>
        </li>
      <% }); %>
    </ul>
  </li>

  <li id='css' class="dropdown<%= Spraycan.current == 'stylesheets' ? ' active' : '' %>" data-dropdown="dropdown">
    <a rel="css" href="#" class="dropdown-toggle">CSS</a>
    <ul class="dropdown-menu">
      <li>
        <a href="/spraycan#stylesheet?new">New Stylesheet</a>
      </li>
      <li>
        <a href="/spraycan#stylesheet?all">Load Stylesheet</a>
      </li>
      <% if(_.size(Spraycan.current_collections.stylesheets) > 0){ %>
        <li class="divider"></li>
      <% } %>
      <% _.each(Spraycan.current_collections.stylesheets.reverse(), function(model) { %> 
        <li>
          <a href="/spraycan#stylesheet/<%= model.cid %>">
            <%= model.get('name') %><% if(model.id==undefined){ %> *<% } %>
          </a>
        </li>
      <% }); %>
    </ul>

  </li>

  <li id='js' class="dropdown<%= Spraycan.current == 'javascripts' ? ' active' : '' %>" data-dropdown="dropdown">
    <a rel="js" href="#" class="dropdown-toggle">JS</a>
    <ul class="dropdown-menu">
      <li>
        <a href="/spraycan#javascript?new">New Javascript</a>
      </li>
      <li>
        <a href="/spraycan#javascript?all">Load Javascript</a>
      </li>
      <% if(_.size(Spraycan.current_collections.javascripts) > 0){ %>
        <li class="divider"></li>
      <% } %>
      <% _.each(Spraycan.current_collections.javascripts.reverse(), function(model) { %> 
        <li>
          <a href="/spraycan#javascript/<%= model.cid %>">
            <%= model.get('name') %><% if(model.id==undefined){ %> *<% } %>
          </a>
        </li>
      <% }); %>
    </ul>
  </li>

  <li id='files' class="<%= Spraycan.current == 'files' ? ' active' : '' %>" ">
    <a rel="files" href="/spraycan#file?all">Files</a>
  </li>
</ul>

<div class="pull-right">
  <img src="/assets/spraycan/busy.gif" id="busy"/>
</div>
