<form id="fonts_form" class="container" action="#">
  <div class="picker_row">
    <h3>Title Text</h3>
    <a class="plus" rel="title_font" href="#"></a>
    <a class="minus" rel="title_font" href="#"></a>
    <a id="title_font" class="selector" href="#" style="font-family: <%= Spraycan.preferences.title_font %>;"><%= Spraycan.preferences.title_font %></a>
    <input id="title_font_sample" class="sample" type="text" value="Spree Commerce" style="font-family: <%= Spraycan.preferences.title_font %>;font-size: <%= Spraycan.preferences.title_font_size %>;">

    <input type="hidden" id="preferred_title_font" name="title_font" value="<%= Spraycan.preferences.title_font %>">
    <input type="hidden" id="preferred_title_font_size" name="title_font_size"  value="<%= Spraycan.preferences.title_font_size %>">
  </div>

  <div class="picker_row">
    <h3>Body Text</h3>
    <a class="plus" rel="body_font" href="#"></a>
    <a class="minus" rel="body_font" href="#"></a>
    <a id="body_font" class="selector" href="#" style="font-family: <%= Spraycan.preferences.body_font %>;"><%= Spraycan.preferences.body_font %></a>
    <input id="body_font_sample" class="sample" type="text" value="Spree Commerce" style="font-family: <%= Spraycan.preferences.body_font %>;font-size: <%= Spraycan.preferences.body_font_size %>;">

    <input type="hidden" id="preferred_body_font" name="body_font"  value="<%= Spraycan.preferences.body_font %>">
    <input type="hidden" id="preferred_body_font_size" name="body_font_size"  value="<%= Spraycan.preferences.body_font_size %>">
  </div>

  <div class="picker_row">
    <button id="save">Save</button>
  </div>
</form>
